<template>
    <div class="content-info">
        <H4>{{note}}</H4>
        <H4> | </H4>
        <H4>{{nom}}</H4>
        <H4> | </H4>
        <H4>{{categorie}}</H4>
    </div>
</template>

<script>

export default {
    name: "ContentTitle",
    props: {
        note : String,
        nom : String,
        categorie : String
    }
}

</script>

<style scoped>
    .content-info {
         display: flex;
         background-color: beige;
         width: 100%;
         height: 40px;
         justify-content: center;      
    }
</style>