<template>
    <div class="header">
        <div class="logo">
            <router-link :to="{name: 'home'}"><h3>Pitaya Play</h3></router-link>
        </div>
        <div class="menu">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
            <router-link :to="{name: 'home'}"><p>Test</p></router-link>
            <router-link :to="{name: 'formulaire'}"><p>Ecrire un test</p></router-link>
           </div>
        </div>
    </div>
</template>

<script>


//import Content from "@/components/commons/content/Content.vue";


export default {
  name: 'Header',

}
</script>

<style scoped>
    .header {
        display: flex;
        justify-content: space-between;
        position:fixed;
        background-color: #2C2C2C;
        color: black;

        width: 100%;
        height: 60px;
        text-align: Left;
    }

    .header .logo {
        display : flex;
        width: 200px;
        height: 60px;
        margin-left:10%;

        justify-content: center;
        align-items: center;
        background-color: gray;
    }

    .header .menu {
        display : flex;
        width: 200px;
        height: 60px;
        margin-right: 10%;
        justify-content: center;
        background-color: lightblue;
        float: left;
        overflow: hidden;
    }

    .header .menu:hover {
        background-color: rgb(140, 178, 190);
    }

    .header .menu .dropbtn {
        font-size: 20px;  
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .header .menu .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 60px;
    }

    .header .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .menu:hover .dropdown-content {
        display: block;
    }

    
</style>
