<template>
  <div class="FormulaireMain">
    <Header />
    <div class="form">
        <p>
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" v-model="title">
        </p>
        <p>
            <label for="rate">Note</label>
            <input type="text" name="rate" id="rate" v-model="rate">
        </p>
        <p>
            <label for="name">Nom du jeu</label>
            <input type="text" name="name" id="name" v-model="name">
        </p>
        <p>
            <label for="tag">Categorie</label>
            <input type="text" name="tag" id="tag" v-model="tag">
        </p>
        <p>
            <label for="author">Auteur</label>
            <input type="text" name="author" id="author" v-model="author">
        </p>
        <p>
            <label for="text">Texte</label>
            <input type="text" name="text" id="text" v-model="text">
        </p>
        <p>
            <input type="submit" value="ENREGISTRE">  
        </p>
    </div>
    <Footer />
  </div>
</template>

<script>
    import Header from "@/components/Header.vue"
    import Footer from "@/components/Footer.vue"
 
//mon article {{$route.params.id}}

export default {
  name: "formulaireMain",
  components: {
            Header,
            Footer
        }
}
</script>

<style>
    .form {
        padding-top: 80px;
        padding-bottom: 10px;
    }
</style>
